<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="<%= assetPath('css/signup.css') %>">
    </head>
    <body>
        <div class="container"> 
            <div class="div-form">
                <div class="details">
                    <div><h1>Sign in to Auth</h1></div>
                    
                    <span>or use your email account</span>
                </div>
                <div>
                    <form onsubmit="return validation()" name="myform" action="/admin/sign-in/create-session" method="post">
                        <input autocomplete="on" type="text" placeholder="Email" id="email" name="email">
                        <span style="text-align: center;color: black;" id="text"></span>
                        <input autocomplete="off" type="password" placeholder="Password" id="password" name="password">
                        <span style="text-align: center;" id="pass-text"></span>
                        <button style="margin-bottom: 50px;" type="submit">Sign in</button>
                        
                    </form>
                </div>
                <div>
                   
                </div>

            </div>
        </div>
        <script>
            function validation(){
               var valid = true;
                var email = document.forms["myform"]["email"].value; 
                var password = document.forms["myform"]["password"].value; 
                if(email==""){
                document.getElementById("text").innerHTML = "Country cannot be empty"
                valid = false; 
                } 
                else {
                    document.getElementById("text").innerHTML = ""
                }
                if(password==""){
                document.getElementById("pass-text").innerHTML = "Password cannot be empty"
                valid = false; 
                } 
                else {
                    document.getElementById("text").innerHTML = ""
                }
                if(valid){
                    return true;
                }
                return false
            }
        </script>
    </body>
</html>