<link rel="stylesheet" href="<%= assetPath('css/list.css')%>">
<link rel="stylesheet" href="<%= assetPath('css/add.css')%>"></link>
<body>
    <div class="container">
        <div class="country">
            <a href="/admin/list/country">COUNTRY</a>
        </div>
        <div class="state"> 
            <a href="/admin/list/state">STATE</a>
        </div>
        <div class="city">
            <a href="/admin/list/city">CITY</a>
        </div>
    </div>
  
</body>
