.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 30%;
  margin-top: 20px;
  justify-content: space-around;
}

.container > div {
  padding: 20px 50px 20px 50px;
  border: 1px solid lightgray;
  border-radius: 50px;
  margin: auto;
  background-color: white;
}

a {
  color: black;
}

a:active {
  background-color: yellow;
}

.form {
  width: 50%;
  margin: auto;
  border: 1px solid black;
  margin-top: 70px;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #a0a0d9;
}

.form label {
  display: inline-block;
  margin: auto;
  margin-left: 10%;
  font-size: 20px;
}

.form input, .form select {
  display: block;
  margin: auto;
  height: 40px;
  width: 60%;
  margin-top: 30px;
  border: 1px solid black;
}

.form h1 {
  text-align: center;
}

.form .button {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.form input[type='reset'], .form input[type='submit'] {
  display: inline-block;
  width: 45%;
  padding: 10px;
  font-size: 20px;
  background-color: #4343e4;
  margin: auto;
  margin-top: 30px;
  color: white;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

span {
  text-align: center;
  display: block;
}
